# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
debug
release
*.pprof
__debug_bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.vscode/
.idea/

# PoW-WoW specific
cmd/server/server
cmd/client/client
